/* google poppins font */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-poppins{
    font-family: "Poppins", sans-serif;
}
/*google anton font */


.font-anton{
    font-family: "Anton", sans-serif;
}
/* google font inter */


.font-inter{
    font-family: "Inter", sans-serif;
}